<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496697882245-q6n667qrccp0f6rhq4c7eitgu61u1pqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496697882245-q6n667qrccp0f6rhq4c7eitgu61u1pqm</string>
	<key>API_KEY</key>
	<string>AIzaSyCoUof64alVECvuqfHX8UNAjxcOWONIeIM</string>
	<key>GCM_SENDER_ID</key>
	<string>496697882245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>your.app.id.Demo</string>
	<key>PROJECT_ID</key>
	<string>github-action-demo-9b24f</string>
	<key>STORAGE_BUCKET</key>
	<string>github-action-demo-9b24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496697882245:ios:45c7571ea129f62605dbec</string>
</dict>
</plist>