name: Release

on:
  push:
    branches: [ release/*, hotfix/* ]
  # Trigger manually
  workflow_dispatch:

env:
  OUTPUT_DIRECTORY: ${{ secrets.OUTPUT_DIRECTORY }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: [self-hosted]
    timeout-minutes: 15
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      KEYCHAIN_NAME: ${{ secrets.KEYCHAIN_NAME }}
      KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
      MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      FASTLANE_XCODEBUILD_SETTINGS_RETRIES: ${{ secrets.FASTLANE_XCODEBUILD_SETTINGS_RETRIES }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      # Шаг запускает ssh-agent и загружает в него приватный ключ ssh
      # Тем самым carthage может клонировать приватные репозитории через ssh
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: 'Build setup'
        uses: ./.github/actions/build-setup
      - name: Build
        run: bundle exec fastlane release
      - uses: actions/upload-artifact@v3
        with:
          name: 'release-artifact'
          path: ${{ secrets.OUTPUT_DIRECTORY }}
          retention-days: 1

  tests:
    runs-on: [ self-hosted ]
    timeout-minutes: 15
    needs: [ build ]
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Prepare
        run: bundle exec fastlane prepare
      - name: Test
        run: bundle exec fastlane scan

  firebase_deploy:
    runs-on: [self-hosted]
    timeout-minutes: 15
    needs: [build]
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      FIREBASE_APP: ${{ secrets.FIREBASE_APP }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      FIREBASEAPPDISTRO_APP: ${{ secrets.FIREBASEAPPDISTRO_APP }}
      FIREBASEAPPDISTRO_GROUPS: ${{ secrets.FIREBASEAPPDISTRO_GROUPS }}
    steps:
      - name: 'Firebase upload'
        uses: ./.github/actions/firebase-upload
        with:
          artifact-name: 'release-artifact'
          output-directory: ${{ secrets.OUTPUT_DIRECTORY }}

  testflight_deploy:
    runs-on: [ self-hosted ]
    timeout-minutes: 15
    needs: [ build ]
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
      APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
      APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
      FL_UPLOAD_SYMBOLS_TO_CRASHLYTICS_DSYM_PATH: ${{ secrets.FL_UPLOAD_SYMBOLS_TO_CRASHLYTICS_DSYM_PATH }}
    steps:
      - name: 'Testflight upload'
        uses: ./.github/actions/testflight-upload
        with:
          artifact-name: 'release-artifact'
          output-directory: ${{ secrets.OUTPUT_DIRECTORY }}